// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #17181a;
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// fonts
// font-family: 'Bebas Neue', cursive;

// Header
#logo {
  color: white;
  font-family: "Abril Fatface", cursive;
}
.nav-header {
  min-height: 10vh;
  color: white;
  // add space between the elements
  margin: auto;
  width: 90%;
  padding: 2rem 0rem;
}
// Burger
.line1,
.line2 {
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

//Slides
.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 90%;
  color: white;
  background: #17181a;
}
