* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
// fonts
// font-family: 'Abril Fatface', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Roboto', sans-serif;
